// bower:scss
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  background: #d02e72;
  // background: #b71c6f;
}

body {
  font-family: 'Walter Turncoat', Helvetica, Arial, sans-serif;
  color: #010101;
}



.hero-unit {
  margin: 10px auto 0 auto;
  max-width: 700px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  // background-color: #eee;
  border-radius: 6px;
  padding: 10px 10px 40px 10px;
  text-align: center;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}


.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin: 20px 0 40px;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.contact {
  color: #faf7e2;
  margin-top: 12px;
  p {
    margin: 2px auto;
    line-height: 1.2;
  }
}

#mc_embed_signup {
  clear:left;
  font-size :14px;
  width:100%;
  label {
    color: #faf7e2 !important;
    letter-spacing: 1px;
  }

  input.email {
    background-color: #faf7e2 !important;
    border-color: #faf7e2 !important;
  }

  input.email::-webkit-input-placeholder {
    color: black;
  }

  input.email::-moz-placeholder {
    color: black;
  }

  input.email:-ms-input-placeholder {
    color: black;
  }

  // input[type=submit] {
  //   background: url(..images/icon-subscribe.png)
  // }

}

