html {
    background: #d02e72
}

body {
    font-family: Walter Turncoat, Helvetica, Arial, sans-serif;
    color: #010101
}

.hero-unit {
    margin: 10px auto 0;
    max-width: 700px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    border-radius: 6px;
    padding: 10px 10px 40px;
    text-align: center
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin: 20px 0 40px
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.contact {
    color: #faf7e2;
    margin-top: 12px
}

.contact p {
    margin: 2px auto;
    line-height: 1.2
}

#mc_embed_signup {
    clear: left;
    font-size: 14px;
    width: 100%
}

#mc_embed_signup label {
    color: #faf7e2!important;
    letter-spacing: 1px
}

#mc_embed_signup input.email {
    background-color: #faf7e2!important;
    border-color: #faf7e2!important
}

#mc_embed_signup input.email::-webkit-input-placeholder {
    color: #000
}

#mc_embed_signup input.email::-moz-placeholder {
    color: #000
}

#mc_embed_signup input.email:-ms-input-placeholder {
    color: #000
}